/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #333;
}
body {
  color: #fff;
  /*text-align: center;*/
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}

ul {
  /*text-align: justify;*/
  list-style: none;
  /*float: left;*/
}

h2 {
  /*text-align: center;*/
}
h4 {

  text-align: center;
}

img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  opacity: 0.2;
  z-index: -1;

}

hr {
  display: block;
  border-top: 1px solid #gray;
}

/*#imgOne {
  background-image: url(../imgs/c01img.jpeg);
  background-position: center;

}*/

.cover-heading {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*side chapter bar*/

.sidenav-wrapper {
  position: fixed;
}

#sidenav {
    width: 130px;
    position: fixed;
    z-index: 1;
    top: 20px;
    left: 1px; /**original value: 10*/
    background: #eee;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding: 8px 0;*/
    padding-left: 0;


}

#sidenav a {
    padding: 6px 8px 1px 1px; /*original values: 6px 8px 6px 16px*/
    text-decoration: none;
    font-size: 12px;
    color: #2196F3;
    display: block;



}

#sidenav a:hover {
    color: #064579;
}

#main {
    /*margin-left: 140px; /* Same width as the sidebar + left position in px */*/
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    /*text-align: center;*/
}

@media screen and (max-height: 450px) {
    #sidenav {padding-top: 15px;}
    #sidenav a {font-size: 12px;}
}













/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 2rem;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

/*.masthead-brand {
  margin-bottom: 0;
}*/

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
  display: inline-block; /* to display the menu items as blocks in same line */
  list-style: none;
  text-align: center; /* center align the text within the block */
  width: 10%; /* set each block a width */
  vertical-align: middle;
}
.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  /*.masthead-brand {
    float: left;
  }*/
  .nav-masthead {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
  padding-left: 0;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}
.container {

}


/*
 * Footer
 */

.mastfoot {
  color: rgba(255,255,255,.5);
  text-align: center;
}


/*
 * Affix and center
 */

@media (min-width: 40em) {
  /* Pull out the header and footer */
  .masthead {
    position: sticky;
    top: 0;
  }
  .mastfoot {
    position: relative;
    bottom: 0;
  }

  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 62em) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 42rem;
  }
}
